/* VARIABLES */

:root {
  --bg-main: #fafbff;
  --bg-white: #ffffff;

  --color-logo-text: #838383;

  --color-primary-text: #000000;
  --color-secondary-text: #b5b7c0;
  --color-green-text: #16c098;

  --color-sidebar-text: #9197b3;
  --color-sidebar-position: #757575;

  --color-search-text: #b5b7c0;
  --color-search-icon: #7e7e7e;
  --bg-search: #f9fbff;

  --color-table-lines: #eeeeee;

  --color-active-text: #008767;
  --color-inactive-text: #df0404;
  --bg-active: rgba(22, 192, 152, 0.38);
  --bg-inactive: #ffc5c5;

  --color-pagination: #404b52;
  --bg-pagination: #f5f5f5;
  --bg-pagination-active: #5932ea;

  --dur: 250ms;
  --cub: linear;
}

/* COMMON & RESET */

body {
  background-color: var(--bg-main);
  color: var(--color-primary-text);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: -0.14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* SIDEBAR */

.sidebar {
  position: absolute;
  top: 0;
  z-index: 10;

  width: 320px;
  height: 100vh;

  padding-top: 36px;
  padding-right: 28px;
  padding-left: 28px;
  padding-bottom: 76px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background-color: var(--bg-white);

  @media screen and (min-width: 1440px) {
    position: static;
    width: 306px;
    justify-content: space-between;
  }
}

.sidebar__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;

  margin-bottom: 53px;
}
.sidebar__logo--icon {
  margin-right: 8px;
  fill: currentColor;
  stroke: currentColor;
}

.sidebar__logo--text {
  align-items: baseline;
  gap: 4px;
}

.sidebar__logo--text {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.1px;

  color: var(--color-logo-text);
}

.sidebar__nav {
  width: 264px;
  margin-bottom: 40px;

  @media screen and (min-width: 1440px) {
    width: 250px;
    margin-bottom: 200px;
  }
}

.sidebar__nav--item {
  width: 100%;
}

.sidebar__nav--item:not(:last-child) {
  margin-bottom: 18px;
}

.sidebar__nav--link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 11px;
  padding-left: 11px;

  border-radius: 8px;

  color: var(--color-sidebar-text);

  transition: background-color var(--dur) var(--cub),
    color var(--dur) var(--cub);
}

.sidebar__nav--link:hover,
.sidebar__nav--link:focus {
  background-color: var(--bg-pagination-active);
  color: var(--bg-white);
}

.sidebar__nav--link.active {
  border-radius: 8px;
  background-color: var(--bg-pagination-active);
  color: var(--bg-white);
}

.sidebar__nav--wrap {
  display: flex;
  align-items: center;
  gap: 14px;
}

.sidebar__nav--icon {
  stroke: currentColor;
  fill: none;
}

.sidebar__nav--icon-arrow {
  stroke: currentColor;
  fill: none;
}
.sidebar__nav--icon-arrow.active {
  stroke: var(--bg-white);
}

.sidebar__user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.sidebar__user--text-wrap {
  text-align: left;
}
.sidebar__user--name {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.14px;
}
.sidebar__user--title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;

  color: var(--color-sidebar-position);
}

/* DASHBOARD */

.dashboard__container {
  width: 320px;
  padding: 15px;

  @media screen and (min-width: 1440px) {
    width: 100%;
    padding-top: 41px;
    padding-right: 95px;
    padding-left: 71px;
  }
}

.dashboard__wrap {
  display: flex;
  justify-content: space-between;
}

.dashboard__text {
  padding-bottom: 51px;

  font-size: 20px;
  font-weight: 500;
  text-align: left;

  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.dashboard__sidebar--mob-open {
  height: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: 1px solid var(--color-table-lines);
  background: var(--bg-pagination);
  fill: var(--color-pagination);

  transition: background-color var(--dur) var(--cub),
    color var(--dur) var(--cub);
}

.dashboard__sidebar--mob-open:hover,
.dashboard__sidebar--mob-open:focus {
  background-color: var(--bg-pagination-active);
  fill: var(--bg-white);
}

/* CUSTOMERS SECTION */

.customers__section {
  position: relative;

  width: 100%;

  padding: 10px;

  border-radius: 20px;

  background-color: var(--bg-white);
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);

  @media screen and (min-width: 1440px) {
    padding-top: 30px;
    padding-right: 44px;
    padding-bottom: 40px;
    padding-left: 38px;
  }
}
.customers__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  margin-bottom: 40px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.customers__title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.22px;

  margin-bottom: 7px;

  @media screen and (min-width: 1440px) {
    font-size: 22px;
  }
}
.customers__text {
  font-size: 12px;
  color: var(--color-green-text);
}
.customers__search--wrap {
  position: relative;
}

.customers__search--input {
  padding: 10px 40px;

  font-size: 12px;
  letter-spacing: -0.12px;
  border-radius: 10px;

  border-color: transparent;
  color: var(--color-search-text);
  background-color: var(--bg-search);
}

.customers__search--icon {
  position: absolute;
  top: 7px;
  left: 8px;
  z-index: 1;

  fill: var(--bg-white);
  stroke: var(--color-search-icon);
}

/* CUSTOMERS TABLE */

/* styles for responsive table - from open source https://codepen.io/myasseen/pen/JdPNzv  */

table {
  border-collapse: collapse;

  font-size: 12px;
  width: 100%;
}

td,
th {
  @media only screen and (max-width: 1439px) {
    border: 1px solid #cdcdcd;
    padding: 2px;
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 22px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  td:nth-of-type(1):before {
    content: "Customer Name";
  }
  td:nth-of-type(2):before {
    content: "Company";
  }
  td:nth-of-type(3):before {
    content: "Phone Number";
  }
  td:nth-of-type(4):before {
    content: "Email";
  }
  td:nth-of-type(5):before {
    content: "Country";
  }
  td:nth-of-type(6):before {
    content: "Status";
    top: 7px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    width: 320px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 495px;
  }
}

/* custom styles for mobile and desktop screen */

.customers__table {
  width: 100%;
  margin-bottom: 30px;
}

.customers__table--head-title {
  text-align-last: left;
  font-weight: 500;
  padding-bottom: 14px;

  color: var(--color-search-text);
}

.customers__table--head-title::after {
  content: "";

  position: absolute;
  top: 153px;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 1px;

  background-color: var(--color-table-lines);
}

.customers__table--text {
  position: relative;

  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid var(--color-table-lines);
  font-weight: 500;
}

.customers__table--status {
  width: 80px;
  border-bottom: 1px solid var(--color-table-lines);
}

.customers__table--status-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;

  padding: 4px 12px;
  border-radius: 4px;

  font-weight: 500;
}

.active {
  color: var(--color-active-text);
  border: 1px solid var(--color-active-text);
  background-color: var(--bg-active);
}

.inactive {
  color: var(--color-inactive-text);
  border: 1px solid var(--color-inactive-text);
  background-color: var(--bg-inactive);
}

/* PAGINATOR */

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}
.pagination__text {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-secondary-text);
}
.pagination__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pagination__item {
  font-size: 12px;
  padding: 6px;

  border-radius: 4px;
  border: 1px solid var(--color-table-lines);
  background: var(--bg-pagination);
  color: var(--color-pagination);

  @media screen and (min-width: 1440px) {
    font-size: 14px;
    padding: 6px 9px;
  }
}

.pagination__item.active {
  background-color: var(--bg-pagination-active);
  color: var(--bg-white);
}

.pagination__item.dots {
  background-color: transparent;
  border-color: transparent;
}
